server:
  port: 8080
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    preferIpAddress: true

spring:
  application:
    name: auth-server
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  zipkin:
    base-url: http://zipkin
  sleuth:
    sampler:
      percentage: 1.0
  security:
    oauth2:
      client:
        registration:
          facebook:
            clientId: 467525726975630
            clientSecret: a7b56ef0799b916d6530cb13d5fe8b1c
security:
  oauth2: 
    client:
      client-id: bla
      client-secret: blubb